.img-fluid{width: 100%;height: auto;}
.bg-principal{background-color: forestgreen;}
.p20{padding: 20px;}
.m20{margin: 20px;}
.txt-center{text-align: center;}
.prod{background-color: lightgreen;border: 1px $colorPrincipal;border-radius: 20px;padding: 10px;}