//@media (max-width:768px){
   // header,main,footer{display:flex,flex-direction: colum;align-item:center;}
   // ul{display:flex;padding: 0%;}
   // a{color: darkgreen;font-size: 22px;padding: 5px;margin: 5px;}
  //  p{font-size: 22px;}}